{% extends 'app_general/components/base.html' %}
{% block title%} Thank you{%endblock%}

{%block content%}
<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        <h2 class="content-title">Thank you for registration</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur optio incidunt animi iure commodi iusto dolores id placeat quaerat sapiente tempora similique odio, eum modi, ipsum eveniet saepe quae voluptatem!</p>
        <a class="btn btn-primary" href="{%url 'home'%}">Go to home page</a>
    </div>
</section>

{%endblock%} 