{% extends 'app_general/components/base.html' %}
{% block title%}Logging in{%endblock%}

{%block content%}

<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        <h2 class="content-title">Log in</h2>
        <form action="{% url 'login'%}" method="post">
            {% csrf_token%}
            {{form.as_p}}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{request.GET.next}}">

            {%endif%}
            <p>
                <button class="btn btn-primary" type="submit">Log in</button>
            </p>
            <p>
                <a href="{%url 'password_reset'%}">Reset password</a>
            </p>
        </form>
    </div>
</section>


{%endblock%}