{% extends 'app_general/components/base.html' %}
{% block title%}Change Password{%endblock%}

{%block content%}

<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        <h2 class="content-title">Change Password of {{user.username}}</h2>
        <p>
            <a href="{%url 'dashboardeiei'%}"> Dashboard</a>
            <a href="{%url 'profileee'%}">Profile</a>
            <a href="{%url 'password_change'%}">Change Password</a>
        </p>
        <h5>Your password has already cahnged</h5>
        <p>Successfully change</p>
        
    </div>
</section>


{%endblock%}