{%load static%}

<header class="site-header">
    <a class="site-header-item site-header-brand" href="{%url 'home'%}">
        <img src="{%static 'app_general/logo.webp'%}" alt="">
        <span>DJanraider</span>
    </a>

    <a class="site-header-item" href="{%url 'food'%}">
        <p>Menu</p>
    </a>
    <a class="site-header-item" href="{%url 'about'%}">
        <p>About</p>
    </a>
    {%if user.is_authenticated%}
    <a class="site-header-item" href="#">
        <p>{{user.username}}</p>
    </a>
    <a class="site-header-item" href="{%url 'logout'%}">
        <p>Log out</p>
    </a>
    {%else%}
    <a class="site-header-item" href="{%url 'login'%}">
        <p>Log in</p>
    </a>
    <a class="site-header-item" href="{%url 'registerrr'%}">
        <p>Sign up</p>
    </a>
    {%endif%}
</header>