{% extends 'app_general/components/base.html' %}
{% block title%}Profile{%endblock%}

{%block content%}

<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        <h2 class="content-title">Profile of {{user.username}}</h2>
        <p>
            <a href="{%url 'dashboardeiei'%}"> Dashboard</a>
            <a href="{%url 'profileee'%}">Profile</a>
        </p>
        <h5>Personal detail</h5>
        <form action="{% url 'profileee'%}" method="post">
            {% csrf_token%}
            {{form.non_field_errors}}
            <div class='form-field'>
                {{form.first_name.label_tag}}
                {{form.first_name}}
                {{form.first_name.errors}}
            </div>
            <div class='form-field'>
                {{form.last_name.label_tag}}
                {{form.last_name}}
                {{form.last_name.errors}}
            </div>
            <div class='form-field'>
                {{extended_form.address.label_tag}}
                {{extended_form.address}}
                {{extended_form.address.errors}}
            </div>
            <div class='form-field'>
                {{extended_form.phone.label_tag}}
                {{extended_form.phone}}
                {{extended_form.phone.errors}}
            </div>
            <p>
                <button class="btn btn-primary" type="submit">save</button>
            </p>
        </form>
    </div>
</section>


{%endblock%}