{% extends 'app_general/components/base.html' %}
{% block title%}Thank you for your registration{%endblock%}

{%block content%}

<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        <h2 class="content-title">Thank you for your registration</h2>
        
        <p>Please check your e-mail to activate the account</p>
        <p>
            <a class="btn btn-primary" href="{% url 'login'%}">Go to log in</a>
        </p>
    
    </div>
</section>


{%endblock%}